<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main" >
<head>
    <title>House Nepal - Registration</title>
</head>
<body>

<div layout:fragment="content">

    <h2>Update User</h2>

    <form action="#" th:action="@{/user/update}" method="post">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" class="form-control" placeholder="Full Name" th:field="${user.fullName}"/>
            <div th:errors="${user.fullName}" class="alert alert-danger">ERROR</div>
        </div>
        <div class="form-group">
            <label for="primaryPhoneNumber">Primary Phone Number</label>
            <input type="text" id="primaryPhoneNumber" class="form-control" placeholder="Primary Phone Number" th:field="${user.primaryPhoneNumber}"/>
            <div th:errors="${user.primaryPhoneNumber}" class="alert alert-danger">ERROR</div>
        </div>
        <div class="form-group">
            <label for="secondaryPhoneNumber">Secondary Phone Number <span class="optional-text">(Optional)</span></label>
            <input type="text" id="secondaryPhoneNumber" class="form-control" placeholder="Secondary Phone Number" th:field="${user.secondaryPhoneNumber}"/>
        </div>
        <div class="form-group">
            <label for="streetName">Street Name <span class="optional-text">(Optional)</span></label>
            <input type="text" id="streetName" class="form-control" placeholder="Street Name" th:field="${user.streetName}"/>
        </div>
        <div class="form-group">
            <label for="areaLocation">Area Location</label>
            <input type="text" id="areaLocation" class="form-control" placeholder="Area Location" th:field="${user.areaLocation}"/>
            <div th:errors="${user.areaLocation}" class="alert alert-danger">ERROR</div>
        </div>
        <div class="form-group">
            <label for="cityName">City Name</label>
            <input type="text" id="cityName" class="form-control" placeholder="City Name" th:field="${user.cityName}"/>
            <div th:errors="${user.cityName}" class="alert alert-danger">ERROR</div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
    </form>

    <!--<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">-->
        <!--<div class="form-group">-->
            <!--<label for="fullName">Full Name</label>-->
            <!--<input type="text" id="fullName" class="form-control" placeholder="Full Name" th:field="*{fullName}"/>-->
            <!--<div th:errors="*{fullName}" class="alert alert-danger">ERROR</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="primaryPhoneNumber">Primary Phone Number</label>-->
            <!--<input type="text" id="primaryPhoneNumber" class="form-control" placeholder="Primary Phone Number" th:field="*{primaryPhoneNumber}"/>-->
            <!--<div th:errors="*{primaryPhoneNumber}" class="alert alert-danger">ERROR</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="secondaryPhoneNumber">Secondary Phone Number <span class="optional-text">(Optional)</span></label>-->
            <!--<input type="text" id="secondaryPhoneNumber" class="form-control" placeholder="Secondary Phone Number" th:field="*{secondaryPhoneNumber}"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="streetName">Street Name <span class="optional-text">(Optional)</span></label>-->
            <!--<input type="text" id="streetName" class="form-control" placeholder="Street Name" th:field="*{streetName}"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="areaLocation">Area Location</label>-->
            <!--<input type="text" id="areaLocation" class="form-control" placeholder="Area Location" th:field="*{areaLocation}"/>-->
            <!--<div th:errors="*{areaLocation}" class="alert alert-danger">ERROR</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="cityName">City Name</label>-->
            <!--<input type="text" id="cityName" class="form-control" placeholder="City Name" th:field="*{cityName}"/>-->
            <!--<div th:errors="*{cityName}" class="alert alert-danger">ERROR</div>-->
        <!--</div>-->
        <!--<input type="hidden" th:field="*{id}"/>-->

        <!--<button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>-->
    <!--</form>-->
</div>

</body>
</html>