<!DOCTYPE html>
<html lang="en"
      layout:decorator="layouts/main">
<head>
    <title>House Nepal - Home Page</title>
</head>
<body>
<div layout:fragment="top-search-area">
    <div class="row search-area">
        <div class="container">
            <form action="#" method="post">
                <div class="col-md-4">
                    <label><i class="fa fa-map-marker" aria-hidden="true"></i> Location</label>
                    <select class="form-control">
                        <option>Baneswor</option>
                        <option>Kapan</option>
                        <option>Thamel</option>
                        <option>New Road</option>
                        <option>Kalanki</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label><i class="fa fa-home" aria-hidden="true"></i> Category</label>
                    <select class="form-control">
                        <option>All</option>
                        <option>Single Room</option>
                        <option>Flat</option>
                        <option>Whole House</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input class="col-md-3 btn btn-lg btn-primary btn-block property-search" type="submit" value="Property Search">
                </div>
            </form>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <ul class="nav nav-tabs property-tabs">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Single-Room</a></li>
        <li><a href="#">Flat</a></li>
        <li><a href="#">Whole-House</a></li>
    </ul>


    <div class="tab-content">
        <div>
            <div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/b1.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/b2.jpg">
                        <img src="images/b2.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/b3.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/b4.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/b5.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/b6.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/banner.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/banner1.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/banner2.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/banner3.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/banner4.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
                <div class="tab-property col-md-3 col-sm-6 col-xs-6">
                    <a href="images/banner.jpg">
                        <img src="images/banner5.jpg" class="tab-img img-responsive">
                        <div class="tab-property-details">
                            <h5 style="text-align: center">Flat</h5>
                            <p style="text-align: center">Neque porro quisquam est.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="home-contact-us">
        <div class="contact-heading">
            <h3>CONTACT US</h3>
        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-earphone contact-icon"></i>
            <div class="contact-right">
                <p>Phone</p><span>+1 (010)244-22-55</span>
            </div>
        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-envelope contact-icon" aria-hidden="true"></i>
            <div class="contact-right">
                <p>Email</p><a href="mailto:info@example.com">info@example.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-map-marker contact-icon"></i>
            <div class="contact-right">
                <p>Address</p><span>4th corner, 123 Finland, California, US.</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

</body>
</html>